<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h3>Please enter your comic book information.</h3><br>
<form action="/comics" method="POST">
    <label> Publisher: </label>
    <input type="text" name="publisher" id="publisher"><br><br>
    <label> Title: </label>
    <input type="text" name="title" id="title"><br><br>
    <label> Volume: </label>
    <input type="text" name="volume" id="volume"><br><br>
    <label> Release Date (Year): </label>
    <input type="text" name="year" id="year"><br><br>

    <input type="submit" value="Submit">
</form>

