<div class="infopage">
<h1>Welcome to Comic Book Collection!</h1>

<h3>Please choose your option below: </h3><br>
<form>
  <a href='/signup' class="button">Sign Up</a><br><br>
  <a href='/login' class="button">Log In</a><br><br>
</form>
</div>
